<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Page</title>
</head>
<body>
    <form action="" method="POST">
        <input type="text" name="name" placeholder="Input your name...">
        <button>Submit</button>
    </form>
</body>
</html>